<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>v-for テーブル</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
        <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
		<style>
			h1{
				text-align: center;
			}
			.奇数 {
				font-size:16px;
            	font-weight:solid;
            	color:cyan;
        	}
        	.偶数 {
            	font-size:16px;
            	font-weight:bold;
            	color:magenta;
        	}
		</style>
    </head>
    <body>
        <h1 class="bg-secondary text-white display-4 px-3" >コレナンデ商会</h1>
        <div id="app" class="container">
        	<p>{{ message }}</p>
        	<table class="table">
        		<thead class="thead-dark">
            		<tr>
						<th>index</th>
                		<th>Name</th>
                		<th>mail</th>
                		<th>tel</th>
              		</tr>
            	</thead>
            	<template v-for="(item,index) in items"> <!--此処が繰り返し処理を行う-->
				<tr v-if="index % 2 == 0" class="偶数">
              		<td>{{index}}</td> <!--これで左端にインデックスなるものが追加-->
					<td>{{item.name}}</td>
              		<td>{{item.mail}}</td>
              		<td>{{item.tel}}</td>
            	</tr>
				<tr v-else class="奇数"> <!--上のif(２で割り切れる偶数時)と合わせて条件分岐-->
					<td>{{index}}</td>
					<td>{{item.name}}</td>
					<td>{{item.mail}}</td>
					<td>{{item.tel}}</td>
				</tr>
				</template>
          	</table>
        </div>
        
        <script>
        const appdata = {
        	data() {
            	return {
            		message : '※データをテーブル表示する。メッセはP要素に出る',
            		items:[
              		{ name: 'avater', mail: 'avater@ac.jp', tel: '1111' },
              		{ name: 'dread root', mail: 'DR@Dmail.com', tel: '2222' },
              		{ name: 'Alice', mail: 'alice@example.com', tel: '3333' },
              		{ name: 'Bob', mail: 'bob@example.com', tel: '4444' },
              		{ name: 'Charlie', mail: 'charlie@example.com', tel: '5555' },
            		{ name: 'David', mail: 'david@example.com', tel: '6666' },
            		{ name: 'Eve', mail: 'eve@example.com', tel: '7777' },
              		{ name: 'Frank', mail: 'frank@example.com', tel: '8888' },
              		{ name: 'Grace', mail: 'grace@example.com', tel: '9999' },
              		{ name: 'Henry', mail: 'henry@example.com', tel: '0000' },  
              		]
            	}
          	}
        }
      
        Vue.createApp(appdata).mount('#app')
        </script>
    </body>
      

</html>